<%- include('partials/header') %>
<section class="w-[100%] h-[100vh] bg-cover" style="background-image: url('public/img/inicio.jpeg');">
<%- include('partials/nav') %>
<div class="w-[100%] h-[90vh] flex flex-col justify-center items-center">
    <div class="w-[100%] h-[84vh] flex flex-col items-center justify-center">
        <form  action="/reset" method="post" class="bg-black  w-[600px] h-[500px] rounded-lg flex flex-col items-center justify-around">
            <h1 class="text-white text-[50px] font-bold">Reset password</h1>
            <div style="display: flex; flex-direction: column; justify-content: space-around;">
                <label for="">Email</label>
                <input type="email" name="email" id="" placeholder="Email de usuario" style="border: 1px solid black; outline: none; width: 300px; padding: 5px;border-radius: 10px;">
            </div>
            <button class="text-white font-bold bg-purple-800 rounded-lg p-2 w-[150px]" type="submit">Reset</button>
        </form>
        <% try { %>
            <% if (error) { %>
                <div class="flex flex-col w-[100%] items-center">
                    <% error.forEach(element => { %>
                        <p class="text-red-600 font-bold text-[20px]"><%= element.msg %> </p>
                    <% }) %>
                </div>
            <% } %>
        <% }catch(e){ %>
            <% console.log(e) %>
        <% } %>
        <% try { %>
            <% if(data){ %>
                <div class=" h-[100px] flex items-center justify-between rounded bg-white">
                        <h1>Enlace : <%= data.ruta%></h1>
                </div>
            <%} %>
        <% }catch(e){ %>
            <% console.log(e) %>
        <% } %>
    </div>
</div>
<%- include('partials/footer') %>